#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.subtitulo{
  font-size: xxx-large;
  color: #07aebde7;
}

.contenedor{
  text-align: left;
  font-size: x-large;
  width: 20rem;
  margin-left: 11.5rem;
}
